body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: black;
}

/* Design theme */

/* Coloring */
:root {
  --main: #ff004b;
}

/* Font design */

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 400;
}

/* * * * * * * * * * *
 *                   *
 *    Components     *
 *      Style        *
 *                   *
 * * * * * * * * * * */

/* Basic animations */

input,
button {
  transition: .25s ease-in-out all;
}

input,
button {
  outline: none;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}

/* Links */
a {
  text-decoration: none;
  color: black;
}

/* Input boxes */

input[type="text"] {
  padding: 0.75em;
  border: solid 1px #dcdde0;
}

input[type="button"],
input[type="submit"],
button,
.button {
  color: #d0d2d6;
  padding: 0.75em;
  border-radius: .25em;
  border: 1px solid #d0d2d6;
  background: transparent;
  outline: none;
}

input[type="button"].active,
input[type="submit"].active,
button.active,
.button.active {
  background: var(--pink);
  border-color: var(--pink);
}

/* Search bar */

.search {
  justify-content: center;
  
}

.search div:nth-of-type(1) {
  display: grid;
  justify-items: center;
}

.search input[type="text"] {
  width: 30em;
  margin: 1em;
  margin-left: 0;
  color: #979797;
  margin: 1em;
  margin-left: 0;
  color: #979797;
  width: 770px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #dcdde0;
  text-align: left;
  border-radius: 5px;
}

/* Header + Navbar */

nav {
  height: 4em;
  line-height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  background: #fff;
}

nav > div {
  max-width: 70%;
  width: 70em;
  height: 100%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

nav .logo {
  display: grid;
  align-items: center;
}

nav .profile {
  position: absolute;
  width: 10em;
  height: 100%;
  right: 10rem;
  display: grid;
  align-items: center;
}

nav .logo img {
  height: 2em;
}

nav .profile img {
  border-radius: 50%;
  max-height: 2.5em;
}

nav .login {
  position: absolute;
  right: 10rem;
}

nav .search-bar {
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  width: 75%;
}

nav .search-bar input {
  width: 100%;
}

/* Default page */

main {
  margin-top: calc(5% + 4em);
}

main .wrapper {
  max-width: 90%;
  width: 65em;
  margin: 0 auto;
  display: grid;
}

/* Home page */

#home .wrapper {
  justify-items: center;
}

#home .search {
  display: grid;
  justify-items: center;
  grid-row-gap: 1em;
}

#home .search input[type="text"] {
  font-size: 1.2em;
  width: 60rem;
  text-indent: 3rem;
}

#home .search input[type="text"] {
  background: url(/media/baseline-search-24px.jpg) no-repeat 0.125em 0.125em;
  background-size: 1.8em;
  background-position: left center;
  background-position-x: 1rem;
}

.search-tags {
  margin-top: 1em;
  color: rgb(70, 69, 69);
  position: relative;
  right: 250px;
}

.search-tags button {
  margin-right: 1em;
  margin-bottom: 1em;
}

/* Settings Page */

#top-right-image {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#upframe-logo {
  position: absolute;
  left: 20px;
  top: 0px;
}

.tab-button {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e6e8eb;
  border-radius: 0;
  width: 120px;
  font-weight: 500;
}

.tab-button-selected {
  background: transparent;
  border: none;
  border-radius: 0;

  border-bottom: 1px solid;
  font-weight: bold;
}

.tab-content {
  margin-top: 1em;
}

.tab-content .profile-pic img {
  display: block;

}

/* End of Settings */

/* Mentor Cards */
.mentor-tags-list-element {
  cursor: pointer;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0px 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s
}

.mentor-tags-list {
  list-style: none;
  margin: 10px 0 0 0;
  overflow: hidden;
  padding: 0;
}

.mentor-card {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto 50px;
  grid-template-areas:
    "img info"
    "img tags";
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: white;
  color: black;
  border-radius: 4px;
  transition: 0.3s;
  max-height: 200px;
  margin: auto auto 50px auto;
}

.mentor-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mentor-card-image {
  grid-area: img;
  max-width: 200px;
  max-height: 200px;
  border-radius: 4px 0px 0px 4px;
}

.mentor-card-info {
  grid-area: info;
  padding-left: 20px;
}

.mentor-card-tags {
  grid-area: tags;
  list-style: none;
  margin: 10px 0 0 10px;
  overflow: hidden;
  padding: 0;
}

.mentor-card-tags > li {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0px 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: color 0.2s;
}
/* End of Mentor of Cards */

/* Tags */
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}
/*Xtras From Neuville*/
.upLogo{
  text-decoration: none;
  color: var(--main);
  font-size: 150%;
  font-weight: bold;
  width: 211px;
  height: 53px;
}

.intro{
  color: rgb(70, 69, 69);
  width: 743.5px;
  height: 27px;
  font-weight: bold;
  font-size: 120%;
  position: relative;
  right: 100px;
}

.popularTags{
  height: 33px;
}

.checkAll{
  width: 195px;
  height: 55px;
  background-color: var(--main);
  color: white;
  font-weight: bold;
  border-radius: 100px;
}

.rbc-event {
  background-color: var(--main);
}
