body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Design theme */

/* Coloring */
:root {
  --pink: rgb(255, 8, 79);
}

/* Font design */

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 400;
}

/* * * * * * * * * * *
 *                   *
 *    Components     *
 *      Style        *
 *                   *
 * * * * * * * * * * */

/* Basic animations */

input,
button {
  transition: .25s ease-in-out all;
}

input,
button {
  outline: none;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}

/* Input boxes */

input[type="text"] {
  padding: 0.75em;
  border: none;
  border-bottom: 1px solid #ccc;
}

input[type="button"],
input[type="submit"],
button {
  padding: 0.75em;
  border-radius: .25em;
  border: 1px solid #ccc;
  background: transparent;
  outline: none;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  box-shadow: 0px 0px 10px 2px #ccc;
}

input[type="button"].active,
input[type="submit"].active,
button.active {
  background: var(--pink);
  border-color: var(--pink);
}

/* Search bar */

.search {
  width: 50em;
  max-width: 70%;
  margin: auto;
  justify-content: center;
}

.search input[type="text"] {
  max-width: 60%;
  width: 30em;
  margin: 1em;
  margin-left: 0;
}

/* Header + Navbar */

header > div {
  max-width: 90%;
  width: 70em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% auto 20%;
}

header .logo {
  justify-self: center;
}

header .search-bar {
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  width: 75%;
}

header .search-bar input {
  width: 100%;
}

header #nav {
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}

header #nav a {
  display: inline-block;
}

header #nav a:nth-of-type(1) {
  margin-right: 1em;
}

header a {
  text-decoration: none;
  color: black;
}

/* Default page */

main .wrapper {
  max-width: 90%;
  width: 50em;
  margin: 0 auto;
  display: grid;
}

/* Home page */


.search-tags {
  margin-top: 1em;
}

.search-tags button {
  margin-right: 1em;
  margin-bottom: 1em;
}

/* Settings Page */

#top-right-image {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#upframe-logo {
  position: absolute;
  left: 20px;
  top: 0px;
}

#login-link {
  position: absolute;
  top: 30px;
  right: 80px;
}

#signup-link {
  position: absolute;
  top: 30px;
  right: 20px;
}

/* Settings Page */

.tab-button {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e6e8eb;
  border-radius: 0;
  width: 120px;
  font-weight: 500;
}

.tab-button-selected {
  background: transparent;
  border: none;
  border-radius: 0;

  border-bottom: 1px solid;
  font-weight: bold;
}
/* End of Settings */
